*~
*.a
*.la
*.lo
*.log
*.o
*.orig
*.rej
*.swp
*.trs
.deps/
.libs/
.svn/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
po/*.gmo
pkgconfig/*.pc
stamp-h1
test-driver
INSTALL
anastasis-gtk.desktop
anastasis_gtk_config.h
anastasis_gtk_config.h.in
build-aux/
.clang-format
src/testing/taler-bank.err
src/testing/test_reducer_home/
.version
