*~
Makefile
Makefile.in
aclocal.m4
anastasis_config.h
anastasis_config.h.in
anastasis_config.h.in~
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
contrib/uncrustify.sh
depcomp
doc/Makefile
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
m4/*.m4
po/POTFILES
po/Makevars.template
po/anastasis.pot
po/remove-potcdate.sed
po/stamp-po
**/.deps/
**/.libs/
src/stasis/Makefile
src/stasis/Makefile.in
src/stasis/libanastasis_plugin_db_postgres.la
src/stasis/plugin_anastasis_postgres.lo
src/stasis/plugin_anastasis_postgres.o
src/stasis/.deps/
src/backend/Makefile
src/backend/Makefile.in
src/include/Makefile
src/include/Makefile.in
src/testing/test_anastasis_api_home/.local/share/taler/exchange/live-keys/
src/testing/test_anastasis_api_home/.local/share/taler/exchange/revocations/
src/testing/test_anastasis_api_home/.local/share/taler/exchange/wirefees/
src/testing/test_anastasis_api_home/.local/share/taler/auditors/
src/testing/test_anastasis_api_home/.local/share/taler/auditor/
src/testing/test_anastasis_api_home/.local/share/taler/taler-exchange-secmod-*/
src/testing/test_anastasis_api_home/.local/share/taler/exchange/offline-keys/*.pub
src/util/child_management_test.txt
**/*.log
src/lib/*.in
**/*.o
**/*.la
**/*.lo
**/*.trs
**/Makefile
**/Makefile.in
stamp-h1
test-driver
uncrustify.cfg
doc/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.swp
src/lib/.libs
*.lo
*.o
*.la
src/util/.deps/
src/backend/.deps/
src/backend/.idea/
src/backend/.libs/
src/stasis/.libs/
src/backend/anastasis-httpd
doc/Makefile.in
src/include/Makefile.in

A
A

src/stasis/anastasis-dbinit
src/stasis/test_anastasis_db-postgres
src/stasis/test_anastasis_db-postgres.log
src/stasis/test_anastasis_db-postgres.trs
src/stasis/test-suite.log
src/util/test-suite.log
src/util/test_anastasis_crypto.log
src/util/test_anastasis_crypto
src/util/test_anastasis_crypto.trs
src/lib/test_anastasisrest_api
src/lib/vgcore.*
src/util/vgcore.*
src/statis/vgcore.*
src/lib/valgrind*.txt
src/stasis/valgrind*.txt
src/util/valgrind*.txt
src/lib/test_anastasis
src/cli/anastasis-splitter
src/cli/anastasis-assembler
src/cli/.deps/
src/cli/.deps/anastasis-cli-splitter.Po
src/cli/.deps/anastasis-cli-assembler.Po
src/cli/.libs/
src/cli/.libs/anastasis-assembler
src/cli/.libs/anastasis-splitter

doc/thesis/*.aux
doc/thesis/*.bcf
doc/thesis/*.log
doc/thesis/*.xml
doc/thesis/*.toc
doc/thesis/*.pdf
doc/thesis/*.blg
doc/thesis/*.lot
doc/thesis/*.lof
doc/thesis/*.blg
doc/thesis/*.bbl
doc/thesis/*.gzsrc/cli/anastasis-reducer
contrib/anastasis.tag
src/util/anastasis-config
src/util/test_anastasis_child_management
src/include/anastasis_error_codes.h
src/lib/test_anastasis_api_home/
doc/anastasis.info
src/cli/test_reducer.err
.vscode
vgcore*
__pycache__
tags
