#!/bin/sh

set -e

. /usr/share/debconf/confmodule

_USERNAME=anastasis-httpd
_GROUPNAME=www-data

# For now, we only support postgres
dbc_dbtypes=pgsql
dbc_dbuser=${_USERNAME}

dbc_authmethod_user=ident
dbc_authmethod_admin=ident

if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
    . /usr/share/dbconfig-common/dpkg/config.pgsql
    dbc_go anastasis-httpd "$@"
fi

db_stop
