#!/usr/bin/make -f

SHELL := sh -e

include /usr/share/dpkg/architecture.mk

%:
	dh ${@}

override_dh_auto_configure-arch:
	dh_auto_configure -- --disable-rpath --with-microhttpd=yes $(shell dpkg-buildflags --export=configure)

override_dh_auto_configure-indep:

override_dh_auto_build-indep:

override_dh_auto_test:
	# Disabling test suite, incomplete

override_dh_auto_install-arch:
	dh_auto_install

	# Removing useless files
	rm -f debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/*.la \
		debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/anastasis/*.la \
		debian/tmp/usr/share/doc/anastasis/COPYING

override_dh_auto_install-indep:

override_dh_auto_clean:
	dh_auto_clean

override_dh_install:
	dh_install
# Done manually for debhelper-compat<13
	dh_installtmpfiles
# Remove files already present in libanastasis-dev/cli from anastasis-httpd/libanastasis packages
	cd debian/libanastasis; find . -type f,l -exec rm -f ../anastasis-httpd/{} \;
	cd debian/libanastasis; find . -type f,l -exec rm -f ../libanastasis-dev/{} \;
	cd debian/anastasis-httpd; find . -type f,l -exec rm -f ../libanastasis-dev/{} \;
	cd debian/anastasis-cli; find . -type f -exec rm -f ../anastasis-httpd/{} \;
	cd debian/libanastasis-dev; find . -type f,l -exec rm -f ../libanastasis/{} \;
